/* gray scale */
$blue: #3bb2dd;
$blue-500: #3bb2dd;
$blue-700: #0b88b6;
$blue-400: #3bb2dd;
$blue-200: #77cfee;
$blue-100: #c3e9f6;

/* named aliases */
$dark-blue: $blue-700;
$light-blue: $blue-100;

/* css-in-js support */
// :export {
// }
