### Docz ###
.docz

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules

*.sublime*

psd
thumb
sketch

### vscode ###
.vscode
*.code-workspace

### yarn ###

.yarn


.cache
.DS_Store
yarn-error.log
npm-debug.log

coverage
*.zip
.idea/
*.mp4
cypress/screenshots
cypress/videos

dist/css/*
!dist/css/bolt-css.css

bolt-docs
