**/**/.vscode/
**/**/.cache/
**/**/.DS_Store
**/**/node_modules/
**/**/package-lock.json
**/**/yarn-error.log
**/**/npm-debug.log
**/**/lerna-debug.log
**/**/coverage
**/**/.storybook
**/**/.docz
**/**/yarn.json
**/**/*.zip
build/
.idea/
dist/css/*
!dist/css/bolt-css.css
