@import './../../theme/variables.css';

.checkWrapper {
  position: relative;
  display: table;
  margin-top: 12px;

  input[type='checkbox'] {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  span {
    padding-top: 3px;
    display: inline-block;
  }
}

.check {
  border-color: var(--grayscale-300);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;
  position: relative;
  transition-duration: 0.2s;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: top;
  margin-right: 10px;

  &.checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);

    &::after {
      animation: checkmark-expand 140ms ease-out forwards;
      border-bottom-width: 2px;
      border-color: #fff;
      border-left: 0;
      border-right-width: 2px;
      border-style: solid;
      border-top: 0;
      content: '';
      height: calc(1.2 * 10px);
      left: calc(0.4 * 10px);
      position: absolute;
      top: calc(-0.1 * 10px);
      transform: rotate(45deg);
      width: calc(0.7 * 10px);
    }
  }
}

@keyframes checkmark-expand {
  0% {
    height: 0;
    left: calc(0.6 * 10px);
    top: calc(0.9 * 10px);
    width: 0;
  }

  100% {
    height: calc(1.2 * 10px);
    left: calc(0.4 * 10px);
    top: calc(-0.1 * 10px);
    width: calc(0.7 * 10px);
  }
}
