@font-face {
  font-family: 'bolt-icons';
  src: url('../assets/fonts/bolt-icons.eot?fwiprc');
  src: url('../assets/fonts/bolt-icons.eot?fwiprc#iefix') format('embedded-opentype'),
    url('../assets/fonts/bolt-icons.ttf?fwiprc') format('truetype'),
    url('../assets/fonts/bolt-icons.woff?fwiprc') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.tw-icon-style {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bolt-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='tw-i-'],
[class*=' tw-i-'] {
  @apply tw-flex
  tw-justify-center
  tw-items-center
  tw-icon-style;
}

:root {
  --tw-icon-code-accounts: '\e94b';
  --tw-icon-code-alert-circle: '\e94a';
  --tw-icon-code-arrow-down: '\e949';
  --tw-icon-code-arrow-left: '\e948';
  --tw-icon-code-arrow-right: '\e947';
  --tw-icon-code-arrow-up: '\e946';
  --tw-icon-code-bag: '\e945';
  --tw-icon-code-bar-chart: '\e944';
  --tw-icon-code-bars: '\e943';
  --tw-icon-code-box: '\e942';
  --tw-icon-code-calendar: '\e941';
  --tw-icon-code-cards: '\e940';
  --tw-icon-code-check: '\e93f';
  --tw-icon-code-chevron-down: '\e93e';
  --tw-icon-code-chevron-left: '\e93d';
  --tw-icon-code-chevron-right: '\e93c';
  --tw-icon-code-chevron-up: '\e93b';
  --tw-icon-code-clock: '\e93a';
  --tw-icon-code-close: '\e939';
  --tw-icon-code-corner-down-left: '\e938';
  --tw-icon-code-dialog-canceled: '\e937';
  --tw-icon-code-dialog-help: '\e936';
  --tw-icon-code-dialog: '\e935';
  --tw-icon-code-edit: '\e934';
  --tw-icon-code-eye-off: '\e933';
  --tw-icon-code-eye: '\e932';
  --tw-icon-code-file-text: '\e931';
  --tw-icon-code-folder: '\e930';
  --tw-icon-code-glob: '\e92f';
  --tw-icon-code-home: '\e92e';
  --tw-icon-code-layout: '\e92d';
  --tw-icon-code-lock: '\e92c';
  --tw-icon-code-luggage: '\e92b';
  --tw-icon-code-mail: '\e92a';
  --tw-icon-code-map-pin: '\e929';
  --tw-icon-code-maximize: '\e928';
  --tw-icon-code-menu: '\e927';
  --tw-icon-code-minimize: '\e926';
  --tw-icon-code-money-in: '\e925';
  --tw-icon-code-money-out: '\e924';
  --tw-icon-code-money: '\e923';
  --tw-icon-code-navigation: '\e922';
  --tw-icon-code-notifications: '\e921';
  --tw-icon-code-search: '\e920';
  --tw-icon-code-settings-bar: '\e91f';
  --tw-icon-code-settings: '\e91e';
  --tw-icon-code-share: '\e91d';
  --tw-icon-code-skull: '\e91c';
  --tw-icon-code-statements: '\e91b';
  --tw-icon-code-thumbs-up: '\e91a';
  --tw-icon-code-umbrella: '\e919';
  --tw-icon-code-blank: '\e918';
  --tw-icon-code-pismo-wave: '\e901';
  --tw-icon-code-pismo-logo: '\e900';
}

.tw-i-bars:before {
  content: var(--tw-icon-code-bars);
}

.tw-i-accounts:before {
  content: var(--tw-icon-code-accounts);
}

.tw-i-bag:before {
  content: var(--tw-icon-code-bag);
}

.tw-i-box:before {
  content: var(--tw-icon-code-box);
}

.tw-i-umbrella:before {
  content: var(--tw-icon-code-umbrella);
}

.tw-i-luggage:before {
  content: var(--tw-icon-code-luggage);
}

.tw-i-home:before {
  content: var(--tw-icon-code-home);
}

.tw-i-layout:before {
  content: var(--tw-icon-code-layout);
}

.tw-i-folder:before {
  content: var(--tw-icon-code-folder);
}

.tw-i-statements:before {
  content: var(--tw-icon-code-statements);
}

.tw-i-cards:before {
  content: var(--tw-icon-code-cards);
}

.tw-i-clock:before {
  content: var(--tw-icon-code-clock);
}

.tw-i-edit:before {
  content: var(--tw-icon-code-edit);
}

.tw-i-search:before {
  content: var(--tw-icon-code-search);
}

.tw-i-calendar:before {
  content: var(--tw-icon-code-calendar);
}

.tw-i-close:before {
  content: var(--tw-icon-code-close);
}

.tw-i-settings-bar:before {
  content: var(--tw-icon-code-settings-bar);
}

.tw-i-notifications:before {
  content: var(--tw-icon-code-notifications);
}

.tw-i-chevron-down:before {
  content: var(--tw-icon-code-chevron-down);
}

.tw-i-chevron-up:before {
  content: var(--tw-icon-code-chevron-up);
}

.tw-i-chevron-left:before {
  content: var(--tw-icon-code-chevron-left);
}

.tw-i-chevron-right:before {
  content: var(--tw-icon-code-chevron-right);
}

.tw-i-arrow-down:before {
  content: var(--tw-icon-code-arrow-down);
}

.tw-i-arrow-up:before {
  content: var(--tw-icon-code-arrow-up);
}

.tw-i-arrow-left:before {
  content: var(--tw-icon-code-arrow-left);
}

.tw-i-arrow-right:before {
  content: var(--tw-icon-code-arrow-right);
}

.tw-i-share:before {
  content: var(--tw-icon-code-share);
}

.tw-i-lock:before {
  content: var(--tw-icon-code-lock);
}

.tw-i-mail:before {
  content: var(--tw-icon-code-mail);
}

.tw-i-money-in:before {
  content: var(--tw-icon-code-money-in);
}

.tw-i-money-out:before {
  content: var(--tw-icon-code-money-out);
}

.tw-i-file-text:before {
  content: var(--tw-icon-code-file-text);
}

.tw-i-check:before {
  content: var(--tw-icon-code-check);
}

.tw-i-alert-circle:before {
  content: var(--tw-icon-code-alert-circle);
}

.tw-i-money:before {
  content: var(--tw-icon-code-money);
}

.tw-i-dialog-help:before {
  content: var(--tw-icon-code-dialog-help);
}

.tw-i-dialog-canceled:before {
  content: var(--tw-icon-code-dialog-canceled);
}

.tw-i-dialog:before {
  content: var(--tw-icon-code-dialog);
}

.tw-i-menu:before {
  content: var(--tw-icon-code-menu);
}

.tw-i-bar-chart:before {
  content: var(--tw-icon-code-bar-chart);
}

.tw-i-navigation:before {
  content: var(--tw-icon-code-navigation);
}

.tw-i-map-pin:before {
  content: var(--tw-icon-code-map-pin);
}

.tw-i-eye:before {
  content: var(--tw-icon-code-eye);
}

.tw-i-eye-off:before {
  content: var(--tw-icon-code-eye-off);
}

.tw-i-settings:before {
  content: var(--tw-icon-code-settings);
}

.tw-i-glob:before {
  content: var(--tw-icon-code-glob);
}

.tw-i-thumbs-up:before {
  content: var(--tw-icon-code-thumbs-up);
}

.tw-i-minimize:before {
  content: var(--tw-icon-code-minimize);
}

.tw-i-maximize:before {
  content: var(--tw-icon-code-maximize);
}

.tw-i-corner-down-left:before {
  content: var(--tw-icon-code-corner-down-left);
}

.tw-i-skull:before {
  content: var(--tw-icon-code-skull);
}

.tw-i-blank:before {
  content: var(--tw-icon-code-blank);
}

.tw-i-master-tiny .path1:before {
  content: '\e907';
  color: #df4561;
}
.tw-i-master-tiny .path2:before {
  content: '\e908';
  color: #ffe37a;
  margin-left: -1em;
}
.tw-i-master-tiny .path3:before {
  content: '\e909';
  color: #fe8d53;
  margin-left: -1em;
}

.tw-i-visa-tiny:before {
  content: '\e906';
  color: #1672c7;
}

.tw-i-visa .path1:before {
  content: '\e90a';
  color: #dbdae2;
}
.tw-i-visa .path2:before {
  content: '\e90b';
  color: #1672c7;
  margin-left: -1.4228515625em;
}

.tw-i-maestro .path1:before {
  content: '\e910';
  color: #dbdae2;
}
.tw-i-maestro .path2:before {
  content: '\e911';
  color: #7673c0;
  margin-left: -1.4228515625em;
}
.tw-i-maestro .path3:before {
  content: '\e912';
  color: #df4561;
  margin-left: -1.4228515625em;
}
.tw-i-maestro .path4:before {
  content: '\e913';
  color: #1897f3;
  margin-left: -1.4228515625em;
}

.tw-i-amex .path1:before {
  content: '\e914';
  color: #006fcf;
}
.tw-i-amex .path2:before {
  content: '\e915';
  color: #f7f7f7;
  margin-left: -1.4072265625em;
}
.tw-i-amex .path3:before {
  content: '\e916';
  color: #006fcf;
  margin-left: -1.4072265625em;
}
.tw-i-amex .path4:before {
  content: '\e917';
  color: #006fcf;
  margin-left: -1.4072265625em;
}

.tw-i-master .path1:before {
  content: '\e90c';
  color: #dbdae2;
}
.tw-i-master .path2:before {
  content: '\e90d';
  color: #fe8d53;
  margin-left: -1.4228515625em;
}
.tw-i-master .path3:before {
  content: '\e90e';
  color: #df4561;
  margin-left: -1.4228515625em;
}
.tw-i-master .path4:before {
  content: '\e90f';
  color: #ffe37a;
  margin-left: -1.4228515625em;
}

.tw-i-bankBca .path1:before {
  content: '\e902';
  color: #0060af;
}

.tw-i-bankBca .path2:before {
  content: '\e903';
  color: #fff;
  margin-left: -1em;
}

.tw-i-pismo-wave:before {
  content: var(--tw-icon-code-pismo-wave);
}

.tw-i-pismo-logo:before {
  content: var(--tw-icon-code-pismo-logo);
}
