@font-face {
  font-family: 'bolt-icons';
  src: url('../assets/fonts/bolt-icons.eot?fwiprc');
  src: url('../assets/fonts/bolt-icons.eot?fwiprc#iefix') format('embedded-opentype'),
    url('../assets/fonts/bolt-icons.ttf?fwiprc') format('truetype'),
    url('../assets/fonts/bolt-icons.woff?fwiprc') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='tw-i-'],
[class*=' tw-i-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bolt-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply tw-flex
  tw-justify-center
  tw-items-center;
}

.tw-i-bars:before {
  content: '\e900';
}

.tw-i-accounts:before {
  content: '\e902';
  color: rgb(0, 0, 0);
}

.tw-i-accounts::after {
  content: '\e903';
  margin-left: -1em;
}
.tw-i-bag:before {
  content: '\e901';
}

.tw-i-box:before {
  content: '\e905';
}

.tw-i-umbrella:before {
  content: '\e906';
}

.tw-i-luggage:before {
  content: '\e907';
}

.tw-i-home:before {
  content: '\e908';
}

.tw-i-layout:before {
  content: '\e909';
}

.tw-i-folder:before {
  content: '\e90a';
}

.tw-i-statements:before {
  content: '\e90b';
}

.tw-i-cards:before {
  content: '\e90c';
}

.tw-i-cards:after {
  content: '\e90d';
  color: #000;
  margin-left: -1em;
}

.tw-i-clock:before {
  content: '\e90e';
}

.tw-i-edit:before {
  content: '\e90f';
}

.tw-i-search:before {
  content: '\e904';
}

.tw-i-calendar:before {
  content: '\e910';
}

.tw-i-close:before {
  content: '\e911';
}

.tw-i-settings-bar:before {
  content: '\e912';
}

.tw-i-notifications:before {
  content: '\e913';
}

.tw-i-chevron-down:before {
  content: '\e914';
}

.tw-i-chevron-up:before {
  content: '\e915';
}

.tw-i-chevron-left:before {
  content: '\e916';
}

.tw-i-chevron-right:before {
  content: '\e917';
}

.tw-i-arrow-down:before {
  content: '\e918';
}

.tw-i-arrow-up:before {
  content: '\e919';
}

.tw-i-arrow-left:before {
  content: '\e91a';
}

.tw-i-arrow-right:before {
  content: '\e91b';
}

.tw-i-share:before {
  content: '\e91c';
}

.tw-i-lock:before {
  content: '\e91d';
}

.tw-i-mail:before {
  content: '\e91e';
}

.tw-i-money-in:before {
  content: '\e91f';
}

.tw-i-money-out:before {
  content: '\e920';
}

.tw-i-filt-text:before {
  content: '\e921';
}

.tw-i-check:before {
  content: '\e922';
}

.tw-i-alert-circle:before {
  content: '\e923';
}

.tw-i-money:before {
  content: '\e924';
}

.tw-i-dialog-help:before {
  content: '\e925';
}

.tw-i-dialog-canceled:before {
  content: '\e926';
}

.tw-i-dialog:before {
  content: '\e927';
}

.tw-i-menu:before {
  content: '\e928';
}

.tw-i-bar-chart:before {
  content: '\e929';
}

.tw-i-navigation:before {
  content: '\e92a';
}

.tw-i-map-pin:before {
  content: '\e92b';
}

.tw-i-eye:before {
  content: '\e92c';
}

.tw-i-eye-off:before {
  content: '\e92d';
}

.tw-i-settings:before {
  content: '\e92e';
}

.tw-i-glob:before {
  content: '\e92f';
}

.tw-i-thumbs-up:before {
  content: '\e930';
}
