/* base */
$baseFontSize: 16px;

/* headlines and big titles */
$fHeadline: 6rem; /* 96px */
$fSubHeadline: 5rem; /* 80px */
$fTitle: 4rem; /* 64px */

/* scales */
$f1: 3rem; /* h1 - 48px */
$f2: 2.25rem; /* h2 - 36px */
$f3: 1.5rem; /* h3 - 24px */
$f4: 1.25rem; /* h4 - 20px */
$f5: 1rem; /* h5, body, content in general - 16px */
$f6: .875rem; /* h6, smaller than general content - 14px */
$f7: .75rem; /* small - 12px */
$f8: .625rem; /* way too small, seriously - 10px */
