.tw-sidebar {
  @apply tw-flex
  tw-flex-col
  tw-w-60
  tw-h-full
  tw-relative
  tw-bg-gray;
  transition: width 0.3s;
}

.tw-sidebar:after {
  @apply tw-w-6
  tw-absolute
  tw-h-full
  tw-select-none
  tw-pointer-events-none;
  content: ' ';
  right: 0;
  background: linear-gradient(270deg, #16161e 0%, rgba(24, 22, 30, 0) 50%);
  opacity: 0.4;
}

.tw-sidebar .tw-sidebar-content {
  @apply tw-flex
  tw-flex-col
  tw-h-full
  tw-overflow-y-auto
  tw-bg-gray;
}

.tw-sidebar .tw-sidebar-collapsed {
  @apply tw-absolute
  tw-h-full;
  right: 0;
  z-index: 10000;
}

.tw-sidebar .tw-sidebar-collapsed::before {
  @apply tw-absolute
  tw-bg-gray-90
  tw-shadows-5
  tw-h-full;
  width: 1px;
  content: ' ';
}

.tw-sidebar .tw-sidebar-collapsed-btn {
  @apply tw-absolute
  tw-p-1
  tw-shadows-4
  tw-bg-gray-25
  tw-rounded-full
  focus:tw-ring-2
  focus:tw-ring-accent-dark
  focus:tw-outline-none
  focus:tw-text-accent-dark;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tw-sidebar.tw-sidebar-collapsed {
  width: 4.5rem;
  transition: width 0.3s;
}
