@import '../typography/typography.css';

.tw-sidebar {
  @apply tw-w-60
  tw-bg-gray
  tw-flex
  tw-flex-col
  tw-h-full;
  border-right: 1px solid #525061;
  transition: width 0.5s;
}

.tw-sidebar-content {
  position: relative;
  @apply tw-h-full;
}

.tw-sidebar-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: theme('colors.gray.DEFAULT');
}

.tw-sidebar-content::-webkit-scrollbar {
  width: 7px;
  background-color: theme('colors.gray.DEFAULT');
}

.tw-sidebar-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: theme('colors.gray.DEFAULT');
}

.tw-sidebar-btn {
  @apply tw-w-full
  tw-h-14
  tw-bg-gray
  tw-flex
  tw-items-center
  tw-py-5
  tw-px-7
  tw-relative
  tw-transition
  tw-duration-500
  hover:tw-bg-black
  hover:tw-transition
  hover:tw-duration-500
  focus:tw-border-t-2
  focus:tw-border-b-2
  focus:tw-border-accent-dark
  focus:tw-border-solid
  focus:tw-outline-none;
}

.tw-sidebar-btn.selected {
  @apply tw-text-accent-light
  tw-relative;
}

.tw-sidebar-btn.selected:after {
  @apply tw-w-2
  tw-h-2
  tw-bg-accent
  tw-ml-auto
  tw-rounded-full;
  content: '';
}

.tw-sidebar-btn-icon {
  @apply tw-h-6
  tw-w-6;
}

.tw-sidebar-btn-label {
  left: 4.75rem;
  transition: opacity 1s ease-in-out;
  @apply sm:tw-text-xl
  tw-font-bold
  tw-absolute;
}

.tw-sidebar-btn-l0 {
  @apply tw-text-gray-75;
  background-color: black;
}

.tw-sidebar-btn-l1,
.tw-sidebar-btn-l2 {
  @apply tw-text-white;
}

.tw-sidebar-btn-l1 {
  @apply tw-bg-gray;
}

.tw-sidebar-btn-l2 {
  @apply tw-h-12
  tw-py-4;
}

.tw-sidebar-btn-l2 .tw-sidebar-btn-label,
.tw-sidebar-btn-footnote .tw-sidebar-btn-label {
  @apply tw-body4
  sm:tw-font-normal;
}

.tw-sidebar-btn-footnote {
  @apply tw-border-gray-90
  tw-w-full
  tw-h-14
  tw-bg-gray
  tw-flex
  tw-justify-items-center
  tw-items-center;
  border-top-width: 1px;
}

.tw-sidebar-btn-footnote .tw-sidebar-btn-label {
  @apply tw-text-gray-75
  tw-relative
  tw-left-0;
}

.tw-hide {
  display: none;
  transition: width 0.5s;
}

.tw-grow-sidebar {
  width: 5rem;
}

.tw-grow-sidebar .tw-sidebar-btn.selected:after {
  background: none;
  transition: width 0.5s;
}

.tw-btn-expand {
  position: absolute;
  top: 46%;
  right: -11px;
  z-index: 6;
  border-radius: 8px;
  background: #dbdae2;
}

.tw-i-chevron-right:before,
.tw-i-chevron-left:before {
  color: #000;
}

.tw-version {
  @apply tw-text-gray-75
  tw-left-0
  tw-body4
  tw-w-full
  tw-text-center
  sm:tw-font-normal;
}
