.tw-h1,
.tw-h2,
.tw-h3,
.tw-h4,
.tw-h5,
.tw-h6,
.tw-body1,
.tw-body2,
.tw-body3,
.tw-body4,
.tw-body5 {
  @apply tw-font-sans tw-font-bold;
}

.tw-body1,
.tw-body2,
.tw-body3,
.tw-body4,
.tw-body5 {
  @apply sm:tw-font-normal;
}

.tw-h1,
.tw-h2 {
  @apply tw-text-4xl
  sm:tw-text-6xl;
}

.tw-h3 {
  @apply tw-text-2xl
  sm:tw-text-5xl;
}

.tw-h4 {
  @apply tw-text-2xl
  sm:tw-text-4xl;
}

.tw-h5,
.tw-h6 {
  @apply tw-text-xl
  sm:tw-text-2xl;
}

.tw-body1 {
  @apply tw-text-xl
  sm:tw-text-2xl;
}

.tw-body2 {
  @apply tw-text-base
  sm:tw-text-xl;
}

.tw-body3 {
  @apply tw-text-sm
  sm:tw-text-base;
}

.tw-body4,
.tw-body5 {
  @apply tw-text-xs;
}

.tw-body4 {
  @apply sm:tw-text-sm;
}

.tw-body5 {
  @apply sm:tw-text-xs;
}
