.message {
  p {
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .success {
    background-color: #7dbf7d;
  }
  .error {
    background-color: #ce4848;
  }
}
