/* stylelint-disable */

:global {
  .rms-wrapper {
      display: block;
      position: relative;
      height: 70px;
  }

  .rms-wrapper::after, .rms-wrapper::before {
      display: table;
      content: "";
      clear: both;
  }

  .rms-label {
      -webkit-transition-duration: .2s;
              transition-duration: .2s;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      color: rgb(63, 81, 181);
      font-size: 12px;
      top: 4px;
      bottom: 0;
      left: 0;
      right: 0;
      visibility: visible;
      pointer-events: none;
      position: absolute;
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-align: left;
  }

  .rms-text {
      position: relative;
      font-size: 16px;
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      margin: 0;
      line-height: 0;
      padding: 0;
      cursor: pointer;
      height: 0;
  }

  .rms-text span {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      display: block;
      font-size: 16px;
      font-family: "Helvetica", "Arial", sans-serif;
      margin: 18px 0 20px;
      padding: 20px 0 18px;
      width: 100%;
      background: none;
      text-align: left;
      color: inherit;
  }

  .rms-text__empty span {
      color: rgb(197, 197, 197);
      font-weight: 100;
      height: 0;
  }

  .rms-text__empty + label {
      display: none;
  }

  .rms-caret {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      word-wrap: normal;
      font-feature-settings: 'liga';
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
      position: absolute;
      right: 8px;
      top: 25px;
      color: rgba(0, 0, 0, 0.12);
  }

  .rms-list {
      position: absolute;
      -webkit-transition: .25s ease;
      transition: .25s ease;
      top: 0;
      left: 0;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: white;
      box-shadow: 0 3px 10px #adadad;
      z-index: 1000;
  }

  .rms-list .rms-item {
      padding: 0 8px;
      line-height: 35px;
      cursor: pointer;
  }

  .rms-list .rms-item:focus {
      outline: none;
  }

  .rms-list .rms-item::-moz-selection, .rms-list .rms-item:hover {
      background-color: #eaeaea;
  }

  .rms-list .rms-item::selection, .rms-list .rms-item:hover {
      background-color: #eaeaea;
  }

  .rms-list .rms-item__active {
      background: #eaeaea;
  }

  .rms-list .rms-item__reset {
      opacity: .3;
  }
}
