@import './../../theme/variables.css';

.title {
  color: var(--grayscale-400);
  padding: 10px 0;
  margin: 10px 0;
  line-height: 0.83;
  text-align: left;
  font-weight: 500;
  font-size: 36px;
}

.prevTitle, .subTitle {
    line-height: 1.38;
    color: var(--grayscale-300);
    font-size: 16px;
    padding: 10px 0;
    display: block;

    & + .title {
        margin-top: -10px;
    }
}

.subTitle {
    color: #79869c;
    font-size: 16px;
    display: block;
    margin-top: -20px;
}

