:root {
    --pismo--pink: #e82c6b;
    --pismo--dark-blue: #2c3644;
    --pismo--blue: #45c4d4;
    --pismo--near-black: #17202c;
    --pismo--light-gray: #eceef2;
    --pismo--silver: #8692a6;
    --pismo--near-gray: #79869c;
    --pismo--near-white: #fafafa;
    --pismo--white: #fff;
    --pismo--yellow-light: #ffb74d;
    --pismo--light-yellow: #ffb74d;
    --pismo--orange: #ff9800;
    --pismo--dark-smoke: #586374;

    --primary-color: #45c4d4;
    --primary-light-color: #94dce5;
    --secondary-color: #ffa726;
    --secondary-light-color: #ffd056;
    --success-color: #22d58e;
    --success-light-color: #74e5b8;
    --alert-color: #fe3e57;
    --alert-light-color: #fa8d8d;
    --bg-color: #fafafa;
  
    /* Grayscale */
    --grayscale-600: #17202c;
    --grayscale-500: #2c3644;
    --grayscale-400: #8692a6;
    --grayscale-300: #c1c7d4;
    --grayscale-200: #eceef2;
  
    /* Typography */
    --font-size: 10px;
    --font-family: Roboto;
  
    /* Effects */
    --box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  }

  .pismo-blue { color: var(--pismo--blue); }
  .pismo-dark-blue { color: var(--pismo--dark-blue); }
  .pismo-light-gray { color: var(--pismo--light-gray); }
  .pismo-silver { color: var(--pismo--silver); }
  .hover-pismo-dark-blue:hover { color: var(--pismo--dark-blue); }
  .pismo-near-gray { color: var(--pismo--near-gray); }
  .pismo--dark-smoke { color: var(--pismo--dark-smoke); }
  
  .bg-pismo-blue { background-color: var(--pismo--blue); }
  .bg-pismo-dark-blue { background-color: var(--pismo--dark-blue); }
  .bg-pismo-dark-smoke { background-color: var(--pismo--dark-smoke); }
  .bg-pismo-light-gray { background-color: var(--pismo--light-gray); }
  .bg-pismo-near-white { background-color: var(--pismo--near-white); }
  .bg-pismo-yellow-light { background-color: var(--pismo--yellow-light); }
  .bg-pismo-light-yellow { background-color: var(--pismo--orange); }
  .bg-pismo-orange { background-color: var(--pismo--orange); }
  .hover-bg-pismo-blue:hover { background-color: var(--pismo--blue); }
  .hover-bg-pismo-light-gray:hover { background-color: var(--pismo--light-gray); }
  .hover-bg-pismo-near-white:hover, .hover-bg-pismo-near-white:focus { background-color: var(--pismo--near-white); }
  .hover-bg-pismo-orange:hover { background-color: var(--pismo--orange); }
  .hover-bg-pismo-light-yellow:hover { background-color: var(--pismo--light-yellow); }
  .hover-bg-pismo-yellow-light:hover { background-color: var(--pismo--yellow-light); }
  
  .b--pismo-light-gray { border-color: var(--pismo--light-gray); }
  .b--pismo-dark-blue { border-color: var(--pismo--dark-blue); }
  .b--pismo-blue { border-color: var(--pismo--blue); }