* {
	box-sizing: border-box;
	outline: none;
	list-style-type: none;
	font-synthesis: none;
  	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', sans-serif;
	// font-family: 'Open Sans', sans-serif;
}
