:root {
  --hover-btn: {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.menu {
  width: 36px;
  height: 36px;
  display: inline-block;
  position: relative;
  padding: 5px;
  text-align: center;
  cursor: pointer;

  &.open {
    .toggle {
      @apply --hover-btn;
    }

    .list {
      max-height: 300px;
      z-index: 2;
    }
  }

  .toggle:hover {
    @apply --hover-btn;
  }

  .list {
    display: block;
    overflow: hidden;
    max-height: 0;
    position: absolute;
    top: 36px;
    right: 0;
    min-width: 200px;
    margin: 0;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    padding: 0;
    text-align: left;
    transition: max-height 0.5s;
    z-index: 0;

    .listItem {
      display: block;
      padding: 15px;
      margin: 5px 0;

      &:hover {
        @apply --hover-btn;
      }
    }
  }
}
