.tw-btn {
  @apply tw-rounded
  tw-p-2
  tw-bg-gray-25
  tw-cursor-pointer
  tw-text-base
  tw-text-gray-75
  tw-font-sans
  tw-font-bold
  tw-flex
  tw-flex-initial
  tw-text-center
  tw-justify-center
  disabled:tw-bg-gray-25
  disabled:tw-text-gray-75
  disabled:tw-cursor-auto
  hover:tw-bg-gray-10
  focus:tw-ring-2
  focus:tw-ring-accent-dark
  focus:tw-outline-none
  focus:tw-bg-gray-10;
}

.tw-btn-rounded {
  @apply tw-rounded-full;
}

.tw-btn-clean {
  @apply tw-bg-transparent;
}

.tw-btn-primary {
  @apply tw-bg-accent
  tw-text-white
  hover:tw-bg-accent-light
  focus:tw-bg-accent-light;
}

.tw-btn-secondary {
  @apply tw-bg-orange
  tw-text-gray
  hover:tw-bg-orange-light
  focus:tw-bg-orange-light;
}

.tw-btn-flat {
  @apply tw-bg-white
  tw-text-black
  tw-underline
  hover:tw-bg-gray-10
  focus:tw-bg-gray-10;
}

.tw-btn-outline {
  @apply tw-bg-white
  tw-text-gray
  tw-ring-2
  tw-ring-gray-90
  hover:tw-ring-gray
  hover:tw-bg-transparent
  focus:tw-bg-transparent;
  background-color: transparent;
}

.tw-btn-primary:disabled,
.tw-btn-secondary:disabled,
.tw-btn-flat:disabled,
.tw-btn-outline:disabled {
  @apply hover:tw-bg-gray-25
  hover:tw-text-gray-75
  hover:tw-ring-0;
}

.tw-btn-outline:disabled {
  @apply hover:tw-ring-gray-90 hover:tw-ring-2;
}
