.chartWrapper {
  position: relative;
}
.chartLabel {
  position: absolute;
  top: 25%;
  right: 50%;
  width: 120px;
  margin-right: -60px;
  line-height: 120px;
  text-align: center;
  color: #79869c;

  .chartLabelTitle {
    text-align: center;
  }

  &.withSubtitle {
    top: 20%;
  }
}

.chartContainer {
  width: 152px;
  height: 152px;
  margin: 0 auto;
}

.chartValue {
  width: 68px;
  height: 42px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  color: #ffa726
}
