aside {
    background: #333;
    a {
        color: #fff;
        padding: 10px 5px;
        display: block;
        &.selected {
            background: white;
            color: #333;
        }
    }
    li {
        a {
            &:hover {
                background: #ea8c47;
            }
        }
        & > ul {
            li a {
                padding-left: 15px;
            }
        }
    }
    h1 {
        text-align: center;
        color: #fff;
    }
}