aside {
    background: #333;
    a {
        color: #fff;
        padding: 10px 5px;
        display: block;
        &.selected {
            background: white;
            color: #333;
        }
    }
    li {
        &:hover {
            background: #ea8c47;
        }
    }
    h1 {
        text-align: center;
        color: #fff;
    }
}