.tw-input-container {
  @apply tw-flex
  tw-flex-col;
}

.tw-input-containerInput {
  @apply tw-w-full
  tw-flex
  tw-items-center
  tw-relative
  tw-box-border;
}

.tw-input,
.tw-input-label,
.tw-input-helperText {
  @apply tw-font-sans
  tw-text-black
  tw-body3;
}

.tw-input {
  @apply tw-py-3
  tw-px-2.5
  tw-rounded
  tw-w-full
  tw-bg-gray-10
  focus:tw-ring-2
  focus:tw-ring-accent-dark
  focus:tw-outline-none
  focus:tw-text-accent-dark
  disabled:tw-text-black-50;
  min-width: 64px;
}

.tw-input-error {
  @apply tw-text-alert-dark
  tw-ring-2
  tw-ring-alert-dark
  focus:tw-ring-2
  focus:tw-ring-alert-dark
  focus:tw-text-alert-dark;
}

.tw-input-icon {
  @apply tw-body1
  tw-text-black
  tw-absolute
  tw-cursor-pointer;
}

.tw-input-startIcon {
  @apply tw-input-icon
  tw-left-2.5;
}

.tw-input-endIcon {
  @apply tw-input-icon
  tw-right-2.5
  tw-flex
  tw-gap-2;
}

.tw-input-clearIcon {
  opacity: 0.3;
  transition: opacity 0.5s;
}

.tw-input-clearIcon-visible {
  opacity: 1;
}

.tw-input-clearIcon:hover {
  @apply tw-input-clearIcon-visible;
}

.tw-input-focus {
  @apply tw-text-accent-dark;
}

.tw-input-element-error {
  @apply tw-text-alert-dark;
}

.tw-input-container.tw-input-readonly {
  @apply tw-pointer-events-none
  tw-select-none;
}

.tw-input-container.tw-input-readonly .tw-input-label {
  @apply tw-body3
  tw-text-gray-75;
}

.tw-input-container.tw-input-readonly .tw-input {
  @apply tw-font-bold
  tw-px-0
  tw-bg-transparent;
}

.tw-input-container.tw-input-readonly .tw-input-startIcon-padding,
.tw-input-startIcon-padding {
  @apply tw-pl-11;
}

.tw-input-container.tw-input-readonly .tw-input-endIcon-single-padding,
.tw-input-endIcon-single-padding {
  @apply tw-pr-11;
}

.tw-input-container.tw-input-readonly .tw-input-endIcon-double-padding,
.tw-input-endIcon-double-padding {
  padding-right: 4.5rem;
}

.tw-tooltip {
  @apply tw-flex
  tw-items-center
  tw-cursor-pointer
  tw-block
  tw-absolute;
}

div.tw-tooltip span {
  @apply tw-body3
  tw-invisible
  tw-bg-black
  tw-text-white
  tw-py-2.5
  tw-px-5
  tw-flex
  tw-flex-wrap
  tw-items-center
  tw-max-h-56
  tw-overflow-y-auto
  tw-scrollbar-light
  tw-rounded;
  min-width: 15rem;
}

.tw-tooltip-arrow {
  @apply tw-invisible;
  content: '';
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #000;
}

div:hover.tw-tooltip span {
  @apply tw-visible
  tw-opacity-90;
  z-index: 999;
}

div:hover.tw-tooltip .tw-tooltip-arrow {
  @apply tw-visible
  tw-opacity-90;
  z-index: 998;
}
